<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Titulo -->  
    <title>Calcula tus impuestos</title>
    <!--importamos las librerias-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
</head>
<body>
    <div id="container">
        <!--datos actuales-->
        <h1>Sistema de impuestos</h1>
        <!--Requerimientos-->
        <h2>Cabeceras necesarias para excel</h2>
        <table border="1">
            <tr id="cabeceras"></tr>
        </table>
        <h3>Impuestos disponibles</h3>
        <table border="1" id="impuestos">
        </table>
        <!--Productos actuales-->
        <h3>Productos actuales</h3>
        <!--PD: no actualiza por problemas de iframe-->
        <div>
            <iframe id="actual" src='https://view.officeapps.live.com/op/embed.aspx?src=0' width='1000px' height='400px' frameborder='0'> </iframe>
        </div>
        <div style="padding-left: 30;">
            <a href="#" id="descarga" target="_blank" ><button class="btn btn-default">Descarga</button></a>        
        </div>
        <h3>Usuarios</h3>
        <table border="1" id="usuarios">
        </table>
        <div id="container">
            <div class="form-group" style="padding-top: 5px;">
                <label class="sr-only" for="name">Username:</label>
                <input id="user" type="name" class="form-control" id="emailInput" placeholder="username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input id="pass" type="password" class="form-control"  placeholder="password">
            </div>
                <!-- Username -->
                <div >
                    <button id="crear_usuario" class="btn btn-default">crear nuevo</button>  
                </div>
            
        </div>
        <!--Subir excel para actualizar productos-->
        <h3>Actualizar productos</h3>

        <div class="form-group">
            <input type="file" class="form-control" id="fileinput">
        </div>
        <button id="subir_excel" class="btn btn-default">Submit</button>
        
    </div>
</body>
<!--script de javascript con jquery-->
<script type="text/javascript">
//variables globales

//uso de jquery
$(document).ready(async function() {
    //definir cabezeras requeridas
    var headers=["id","nombre","descripcion","precio","cantidad","codigo_impuesto"]
    var jsonExcelIn=null
    for(var i=0;i<headers.length;i++)
    {
        $('#cabeceras').append('<td style="padding:5px;">'+headers[i]+" "+'</td>')
    }
    //funcion sleep
    function sleep(ms) 
    {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    //obtengo datos de la query, por alguna razon me estaba dando error desconocido asi que coloque un sleep
    var promise = new Promise(async(resolve,reject)=>
    {
        await obtener_usuarios()
        
        resolve() 
    }).then(async()=>
    {   
        await sleep(200)
        obtener_impuestos()
        await sleep(200)
        obtener_url()
    })
    function obtener_url()
    {
        var token=findGetParameter("token");
        var url = window.location.origin+'/excel?token='+token;
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
            //en caso de que funcione bien
            if(data.status==true)
            {
                url=data.data;
                boton_descarga=document.getElementById('descarga');
                boton_descarga.href=url
                var iframe = document.getElementById('actual');
                iframe.src = iframe.src.replace(iframe.src.split("=")[1],url);
            }
            //en caso de error escribo el mensaje
            else
                alert(data)
                return 
            },
            //en caso de error del post
            error:function (error) {
                console.log(error);
            },
        });
    }
    
    function obtener_usuarios()
    {
        var token=findGetParameter("token");
        var url = window.location.origin+'/usuario?token='+token;
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
            //en caso de que funcione bien
            if(data.status==true)
            {
                usuarios=data.data;
                $("#usuarios").empty()
                $("#usuarios").prepend('<tr><td style="padding:5px;">id</td><td style="padding:5px;">usuario</td></tr>')
                for(var i=0;i<usuarios.length;i++)
                {
                    $('#usuarios').append('<tr><td style="padding:5px;">'+usuarios[i].id+" "+'</td><td style="padding:5px;">'+usuarios[i].usuario+" "+'</td></tr>')
                }
                
            }
            //en caso de error escribo el mensaje
            else
                alert(data.message)
                return 
            },
            //en caso de error del post
            error:function (error) {
                console.log(error);
            },
        });
    }
    function obtener_impuestos()
    {
        var token=findGetParameter("token");
        var url = window.location.origin+'/impuestos?token='+token;
        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
            //en caso de que funcione bien
            if(data.status==true)
            {
                impuestos=data.data;
                $("#impuestos").empty()
                $("#impuestos").prepend('<tr><td style="padding:5px;">id</td><td style="padding:5px;">clave</td><td style="padding:5px;">valor</td></tr>')
                for(var i=0;i<impuestos.length;i++)
                {
                    $('#impuestos').append('<tr><td style="padding:5px;">'+impuestos[i].id+" "+'</td><td style="padding:5px;">'+impuestos[i].clave+" "+'</td><td style="padding:5px;">'+impuestos[i].valor+" "+'</td></tr>')
                }
                
            }
            //en caso de error escribo el mensaje
            else
                alert(data.message)
                return 
            },
            //en caso de error del post
            error:function (error) {
                console.log(error);
            },
        });
    }
    //obtener el token desde el path
    function findGetParameter(parameterName) 
    {
        var result = null,
            tmp = [];
        location.search
            .substr(1)
            .split("&")
            .forEach(function (item) {
            tmp = item.split("=");
            if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            });
        return result;
    }
    //convertir excel a json
    var ExcelToJSON = function() 
    {
        //parsea el excel
        this.parseExcel = function(file) 
        {
            //crea un Filereader
            var reader = new FileReader();
            //promesa on load
            reader.onload = function(e) 
            {
                //intenta leer el excel
                try
                {
                    var data = e.target.result;
                    var workbook = XLSX.read(data, 
                    {
                        type: 'binary'
                    });
                    workbook.SheetNames.forEach(function(sheetName) 
                    {
                        // Here is your object
                        var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                        var json_object = JSON.stringify(XL_row_object);
                        jsonExcelIn=JSON.parse(json_object)
                    })
                }
                catch(e)
                {
                    alert("debe ingresar formato valido para subirlo (xlsx)")
                    alert(e)
                    return ""
                }
            };
            //en caso de error
            reader.onerror = function(ex) 
            {
                alert("debe ingresar formato valido para subirlo")
            };

            reader.readAsBinaryString(file);
        };
    };
     function handleFileSelect(file) 
    {
        //llamo a la libreria
        var xl2json = new ExcelToJSON();
        //y parseo el excel
        xl2json.parseExcel(file);
    }
    //crea el usuario
    $("#crear_usuario").click(()=>
    {
        var token=findGetParameter("token");
        user=$("#user").val();
        pass=$("#pass").val();
        if(user=="" || pass=="")
            alert("debe ingresar usuario y password si desea crear uno nuevo")
        body={"usuario":user,"password":pass}
        var url = window.location.origin+'/usuario?token='+token;
        $.ajax({
            url: url,
            type: 'PUT',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(body),
            success: function (data) {
            //en caso de que funcione bien
            if(data.status==true)
            {
                alert("usuario creado correctamente")
                obtener_usuarios()
            }
            //en caso de error escribo el mensaje
            else
                alert(data.message)
                return 
            },
            //en caso de error del post
            error:function (error) {
                console.log(error);
            },
        });
    })

    //cuando se sube el archivo hace el parseo del excel
   $("#fileinput").change(async ()=>{
        try
        {
            file=$("#fileinput")[0].files[0]
            handleFileSelect(file)
        }
        catch
        {
            alert("debe ingresar formato valido para subir archivo")
            return
        }
   });
   //sube el excel y hace el proceso
    $("#subir_excel").click( async()=>
    {
        //obtiene el id del token
        var token=findGetParameter("token");
        //obtiene el archivo
        file=$("#fileinput")[0].files[0]
        //si no existe el excel
        if(!file)
        {
            alert("debe ingresar excel para subirlo")
            return
        }
        //obtiene la data
        json=jsonExcelIn
        //revisa que no este vacio
        if (json==null || json[0]==undefined)
        {
            alert("debe ingresar un archivo no vacio")
            return 
        }
        //llama por post a la api
        var url = window.location.origin+'/excel?token='+token;
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(json),
            success: function (data) {
            //en caso de que funcione bien
            if(data.status==true)
            {
                alert("puedes descargar tu archivo en el boton de descarga en productos actuales")
                //actualiza el frame
                obtener_url()
            }
            //en caso de error escribo el mensaje
            else
                alert(data.message)
                return 
            },
            //en caso de error del post
            error:function (error) {
                console.log(error);
            },
        });
        
    })

});
    </script>
</html>